@media (min-width: 768px) {

    .home-grid {
        grid-template-columns: 2fr 1fr;
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}