@media only screen and (min-width:768px){ 
    #menu{ 
        display:none; 
    } 
    
    .navigation{ 
        display:flex; 
        justify-content:center; 
        gap:1rem; 
    } 
    
    .navigation li{ 
        margin:0; 
    } 
    
    .hero{ 
        display:grid; 
        grid-template-columns:2fr 1fr; 
        gap:1rem; 
        align-items:center; 
    } 
    
    .summary{ 
        grid-template-columns:repeat(4,1fr); 
    } 
    
    .statistics{ 
        grid-template-columns:repeat(3,1fr); 
    } 
    
    #cards{ 
        grid-template-columns: 
        repeat(auto-fit,minmax(280px,1fr)); 
    } 
    
    .resource-grid{ 
        grid-template-columns: repeat(3,1fr); 
    } 
}